Repository Newtral-Tech/node-nestjs-configuration: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,test}/**/*.{js,ts}": [
    "eslint --fix",
    "git add"
  ],
  "*.{md,json}": [
    "prettier --write",
    "git add"
  ]
}

chore: update main exports
  package.json
  src/configuration.error.ts
  src/configuration.module.ts
  src/index.ts
  tests/configuration.module.test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add travis configuration
  .travis.yml
Due: none

chore: target es2019 to work with node 10-12
  tsconfig.json
Due: prettier --write

chore: make it node>=10 compatible
  package.json
  src/configuration.module.ts
  src/load-configuration.ts
  tests/configuration.module.test.ts
Due: eslint --fix, prettier --write

chore: add travis configuration
  .travis.yml
  package.json
  src/configuration.error.ts
  src/configuration.module.ts
  src/index.ts
  src/load-configuration.ts
  tests/configuration.module.test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: rename package
  package.json
Due: prettier --write

feat: initial release
  package.json
Due: prettier --write

Notes added by 'git notes add'
  24f77338cf52624cce61f6ea39fead7da070dceb
Due: none

feat: update dependencies
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  1c8a525040131dda48c1bbaa0c8c53cb6a52e552
Due: none

Notes added by 'git notes add'
  33a87abd1490a4c4489fef5042459c38f684f0e3
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update dev dependencies
  README.md
  package.json
  yarn.lock
Due: prettier --write

fix: update dependencies
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  b9b3cbe1221b1641c8b8cdcd3b856196e30ee00d
Due: none

Notes added by 'git notes add'
  045baa44428e645b448a14fa71e6146e0ba39e58
Due: none

feat: update dependencies
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

chore(travis): remove `skip_cleanup` since it's deprecated
  .travis.yml
Due: none

chore(travis): re-add `skip_cleanup` flag
  .travis.yml
Due: none

Notes added by 'git notes add'
  7b7dd2d38d60605a4685cb9a0ff5a60597a524e0
Due: none

feat: update dependencies
  package.json
  src/load-configuration.ts
  yarn.lock
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  49288369259d5576cea4a2a4983da540e2357334
Due: none

chore: use github actions instead of travis
  .github/workflows/release.yml
  .github/workflows/test.yml
  .travis.yml
Due: none

fix: add `ajv-formats` to allow format validation
  package.json
  src/configuration.module.ts
  tests/configuration.module.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(ci): use yarn instead of npm
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  dd11404fa09cacf3f59ef61994ee1128197e265d
Due: none

fix: update dependencies
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  08240464d5de5c1d4ac5a66ed4cb09a91980d87a
Due: none

fix: update dependencies
  .eslintrc
  package.json
  src/configuration.error.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: no longer check if env file exist using fs, expect an error instead
  src/load-configuration.ts
Due: eslint --fix

feat: include @types/node as dependency
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  659c4e0d1c2df71c264553ac2a6d8b280381a3fa
Due: none

fix: update dependencies
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  cdbf7dbcf2fe4615cc9c29fd9a68a0c8af186aac
Due: none

feat: update dependencies
  .husky/.gitignore
  .husky/post-commit
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  a9b22cc920091040d5aa9f87f0a46b1f8c77a8ba
Due: none

fix: update ajv and nest dependencies
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  b0108fa782ee56f561b154292f8b0e6f3ba33f17
Due: none
