Repository Newtral-Tech/node-nestjs-configuration: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: update dependencies
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore: replace yarn by npm
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/pre-commit
  README.md
Due: prettier --write

chore(ci): add `main` as release branch
  package.json
Due: prettier --write

chore: update readmed
  README.md
Due: prettier --write

feat: update to ajv@8.8.1
  package-lock.json
  package.json
Due: prettier --write

fix: update **ajv** dependency
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5a309a9e2ed2df79b1138f820791f2584070e2cd
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(): update dependencies
  package-lock.json
  package.json
Due: prettier --write

feat(): update node version
  .github/workflows/test.yml
Due: none

feat(): dependencies update
  package-lock.json
  package.json
Due: prettier --write

feat(): update version
  .github/workflows/release.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/json-schema-to-js.type.ts
Due: eslint --fix, prettier --write

feat(): update version 4.5.0
  package-lock.json
  package.json
Due: prettier --write

fix(): typescript 5.3.3
  package-lock.json
  package.json
  src/configuration.module.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {src,test}/**/*.{js,ts}
  prettier --write: any of: *.{md,json}
